{% load i18n %}

<div class="recipe recipe-list-item">
    {% if recipe.foto %}
        <div class="recipe-foto">
            <a href="{{ recipe.get_absolute_url }}">
                <img src="{{ recipe.foto.url }}" alt="Temporário">
            </a>
        </div>
    {% endif %}
    <div class="recipe-title-container">
        <h2 class="recipe-title">
            <a href="{{ recipe.get_absolute_url }}">
                {{ recipe.title }}
            </a>
        </h2>
    </div>

    <div class="recipe-author">

        {% if recipe.author is not None %}
            <span class="recipe-author-item">
                
                {% if recipe.author.profile %}
                    <a href="{% url 'authors:profile' recipe.author.profile.id %}">
                {% endif %}

                <i class="fas fa-user"></i>
                {% if recipe.author.first_name %}
                    {{ recipe.author.first_name }} {{ recipe.author.last_name }}
                {% else %}
                    {{ recipe.author.username }}
                {% endif %}

                {% if recipe.author.profile %}
                    </a>
                {% endif %}

            </span>
        {% endif %}

        <span class="recipe-author-item">
            <i class="fas fa-calendar-alt"></i>
            {{ recipe.created_at|date:"d/m/Y" }} às {{ recipe.created_at|date:"H:i" }}
        </span>

        {% if recipe.category is not None %}
            <span class="recipe-author-item">
                <a href="{% url 'recipes:category' recipe.category.id %}">
                    <i class="fas fa-layer-group"></i>
                    <span>{{ recipe.category.name }}</span>
                </a>
            </span>
        {% endif %}
    </div>

    <div class="recipe-content">
        <p>{{ recipe.description }}</p>
    </div>

    <div class="recipe-meta-container">
        <div class="recipe-meta recipe-preparation">
            <h3 class="recipe-meta-title"><i class="fas fa-chart-line"></i> {% translate 'Última Leituras' %}</h3>
            <h3>Pressão  32 mca</h3>
            <h3>Vazão    -- kl/min</h3>
            <h3>horário   07/03/22 17:05 GMT-3</h3>
            
            <div class="recipe-meta-text">
                {{ recipe.preparation_time }} {{ recipe.preparation_time_unit }}
            </div>
        </div>
        <div class="recipe-meta recipe-servings">
            <h3 class="recipe-meta-title"><i class="fas fa-map-pin"></i> {% translate 'Localização' %}</h3>
            <div class="recipe-meta-text">
                {{ recipe.servings }} {{ recipe.servings_unit }}
            </div>
        </div>
    </div>

    {% if is_detail_page is not True %}
        <footer class="recipe-footer">
            <a class="recipe-read-more button button-dark button-full-width" href="{% url 'recipes:recipe' recipe.id %}">
                <i class="fas fa-eye"></i>
                <span>{% translate 'Detalhes' %}...</span>
            </a>
        </footer>
    {% endif %}

    {% if is_detail_page is True %}
        <div class="preparation-steps">
            <div class="row row-cols-auto">
                <div class="row">
                    <h1>Sensores</h1>

                </div>
                <div class="row row-cols-auto">
                    <div class="card-wrapper col-sm-12 col-md-5 col-lg-4 col-xl-3">
                        <div class="card" style="">
                            <div class="card-header">
                                {{ sensor.name }}
                            </div>
                            <div class="card-body">
                                <p class="sensor-measure text-center"><i class="bi bi-graph-up"></i></p>
                                <p class="sensor-measure text-center">
                                    CARD
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% if recipe.tags.all %}
                <p>
                    Tags:
                    {% for tag in recipe.tags.all %}
                        <a href="{% url 'recipes:tag' tag.slug %}">
                            {{ tag.name }}
                        </a>, 
                    {% endfor %}
                </p>
            {% endif %}
        </div>
    {% endif %}

</div>